.member {
    margin-top: 1.5vh;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 3vw;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 204, 143);
}
.initiative, .roll-init{
    border: solid 1px;
    width: 25vw;
    border-radius: 10vw;
    /* background-color: rgb(75, 75, 75); */
    background-image: linear-gradient(white, silver);
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 100%;
    font-family: 'Fredericka the Great', cursive;
    color: rgb(75, 75, 75);
}
.roll-init {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
.pic-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 15vw;
}
.name-class-player {
    margin-bottom: 2vh;
    margin-left: 1vw;
}
.name, .class, .player {
    display: flex;
    padding-left: 5%;
}
.slant-top {
    transform: skewX(-30deg);
    background-image: linear-gradient(white, silver);
    font-size: 150%;
    width: 11vw;
}
.slant-bottom {
    margin-left: -0.2vw;
    transform: skewX(30deg);
    font-size: 80%;
    width: 11vw;
}
.name {
    transform:skewX(30deg);
    font-family: 'Fredericka the Great', cursive;
}
.slant-bottom, .ability-points {
    background-color: rgb(75, 75, 75);
    color: white;
}
.class, .player {
    transform: skewX(-30deg);
}
.ability-scores{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.ability-score {
    width: 30%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .7vw;
}
.ability-points {
    margin-top: 1vw;
    font-size: 2vw;
    border: 2px solid black;
    width: 3vw;
    height: 2.5vw;
    border-radius: 50%;
    padding-top: .2vw;
}
.party-pics {
    margin-top: 5%;
    width: 70%;
    height: 85%;
    border-radius: 50%;
    border: 1px black solid;
}
.ac {
    background-image: url('https://www.netclipart.com/pp/m/10-105367_download-shield-outline-clip-art-png-shield-transparent.png');
    mix-blend-mode: multiply;
    height: 50px;
}
.hp {
    background-image: url('https://www.clipartwiki.com/clipimg/detail/54-548941_shapes-clip-art-black-and-white-heart-shape.png');
    mix-blend-mode: multiply;
    height: 50px;
}
.temp-hp, .current-hp, .ac-group, .max-hp, .hp, .ac {
    background-size: 50px 50px;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ac-hp-1, .ac-hp-2 {
    display: flex;
    justify-content: space-between;
}
.health{
    display: flex;
    justify-content: space-evenly;
    margin-top: .25vw;
}
.low, .ok, .downed, .half{
    width: 10%;
    /* height: 2vw; */
    font-size: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 204, 143);
}
/* .half{
    background-color: yellow;
}
.low{
    background-color: red;
}
.ok{
    background-color: green;
}
.downed{
    background-color: black;
    color: wheat;
} */
/* #Healer{
    background-color: gold;
}
#Damage{
    background-color: red;
}
#Tank{
    background-color: silver;
} 
#Stealth{
    background-color: grey;
} */