.userCharacters{
    display: flex;
    flex-wrap: wrap;
}
.editButton{
    width: 10vw;
}
#editCharacter{
    display: flex;
    flex-direction: column;
}
#createCharacter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}