@media (max-width: 900px){
    .health{
        margin-top: 5%;
    }
    .low, .ok, .downed, .half {
        width: 13%;
    }
    .party{
        margin-top: 2%;
    }
    .player, .ability-scores, .header-img{
        display: none;
    }
    .member {
        flex-flow: column;
        align-items: center;
        width: 30vw;
        height: 55vw;
        padding-top: 15%;
    }
    .initiative, .roll-init{
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .name{
        font-family: Arial, Helvetica, sans-serif;
    }
    .party-pics{
        margin: 5%;
        width: 100%;
        height: 150%;
    }
    .temp-hp, .current-hp, .ac-group, .max-hp, .hp, .ac {
        font-size: 65%;
    }
    .ac-hp-1{
        margin-top: 35%;
    }
    .ac-hp-2 {
        margin-top: 10%;
    }
    .Header {
        height: 20vw;
    }
    /* .name-class-player {
        margin-bottom: 5vh;
    } */
    .slant-top{
        font-size: 80%;
        width: 120%;
    }
    .slant-bottom{
        font-size: 60%;
        width: 120%;
    }
    .ac, .hp {
        height: 10vw;
        background-size: 7vw 7vw;
        font-size: 3.5vw;
    }
    .home {
        display: block;
    }
}