@media (max-width: 900px){
    .player, .ability-scores, .header-img{
        display: none;
    }
    .slant-bottom, .Header, button, .ac-title, .max, .temp, .current {
    font-size: 2vw;
    }
    .member {
        flex-flow: column;
        align-items: center;
        width: 25vw;
    }
    .ac-hp-1, .ac-hp-2 {
        margin: 0%;
        padding: 0%;
    }
    .party-pics {
        height: 20%;
    }
    .Header {
        height: 7vw;
    }
    .name-class-player {
        margin-bottom: 2vh;
    }
    .ac, .hp {
        height: 10vw;
        background-size: 7vw 7vw;
        font-size: 3.5vw;
    }
    .home {
        display: block;
    }
}